---
label: 'Using the Bookish install profile'
top_level: true
related: []
---
<h2>{% trans %}Intro{% endtrans %}</h2>
<p>{% trans %}Thanks for installing Bookish! Bookish is an install profile intended to be used with <a href="https://drupal.org/project/tome">Tome</a>, a static site generator for Drupal.{% endtrans %}</p>
<p>{% trans %}In terms of functionality, Bookish is similar to the Standard profile. Most of the work in this profile has been to make the editing experience and frontend as modern-feeling as possible.{% endtrans %}</p>
<p>{% trans %}The feature highlights are:{% endtrans %}</p>
<ul>
  <li>{% trans %}Ability to filter and crop images on upload, in CKEditor or a field{% endtrans %}</li>
  <li>{% trans %}Blur-up functionality for images, similar to GatsbyJS{% endtrans %}</li>
  <li>{% trans %}A theme with dark mode support, built using Single File Components{% endtrans %}</li>
  <li>{% trans %}Already configured Metatag, Pathauto, Lunr, and Simple XML sitemap integrations{% endtrans %}</li>
  <li>{% trans %}Ability to embed code snippets in CKEditor that are styled in the frontend{% endtrans %}</li>
  <li>{% trans %}A simplified toolbar that just lists the default shortcuts{% endtrans %}</li>
</ul>
<p>{% trans %}All submodules and dependencies are optional, so if you don't want any features, or don't want to use Tome, it's up to you!{% endtrans %}</p>
<p>{% trans %}Please use the links below to browse through documentation.{% endtrans %}</p>
