---
label: 'Adding a contact form to your site'
related:
  - bookish_help.profile
---
<p>{% trans %}If you're using Netlify, you can enable the "Bookish Contact" module which will add a contact form to your site at /contact. This form includes markup that Netlify will recognize and use to accept form submissions.{% endtrans $}</p>

<p>{% trans %}If you're not using Netlify, you'll need to find another way to store form submissions. For example, using a third party service and putting an iframe-based form on an arbitrary page.{% endtrans %}</p>
