---
label: 'Speeding up your site with client-side navigation'
related:
  - bookish_help.profile
---
<h2>{% trans %}Enabling client-side navigation{% endtrans %}</h2>

<p>{% trans %}If you want your site to be even faster, you can {% endtrans %} <a href="{{ path('system.modules_list') }}">enable the "Bookish Speed" module</a> {% trans %}which will add JavaScript to your site that uses client-side navigation to only replace the main content of the current page.{% endtrans %}</p>

<p>{% trans %}This module is experimental, and may have bugs since it overrides the default behavior of clicking links.{% endtrans %}</p>
