.lunr-search-page-form {
  margin-top: var(--spacer-4);
}

.lunr-search-results {
  margin-bottom: var(--spacer-4);
}

.lunr-search-result {
  margin: var(--spacer-2) 0;
  max-width: 800px;
}

.lunr-search-result__title {
  margin: 0;
}

.lunr-search-result__type {
  font-weight: var(--font-weight-bold);
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
}

.lunr-search-result__body p:first-child {
  margin-top: 0;
}

.lunr-search-pager a.active {
  text-decoration: underline;
}

.lunr-search-result-row {
  margin: var(--spacer-2) 0;
  max-width: 900px;
}

.lunr-search-result-row p {
  margin: 0;
  margin-top: var(--spacer-1);
}

.lunr-search-results-count {
  color: var(--font-color);
}

.bookish-search-tags {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacer-2) 0;
}

.bookish-search-tags .form-item {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 0;
}

.bookish-search-tags input:focus + label,
.bookish-search-tags label:hover {
  border-color: var(--font-color);
}

.bookish-search-tags input:checked + label {
  background-color: var(--border-color);
}

.bookish-search-tags label {
  color: var(--font-color);
  padding: 5px 10px;
  font-size: .8rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  transition: background-color .2s;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
}

.lunr-search-page-form input[type="search"] {
  margin-bottom: 0;
}

.lunr-search-page-form .form-item-search input {
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .lunr-search-page-form .form-item-search {
    margin-bottom: var(--spacer-1);
    display: block;
  }
  .lunr-search-page-form input[type="search"] {
    max-width: 100%;
  }
  .lunr-search-page-form input[type="submit"] {
    width: 100%;
  }
  .bookish-search-tags label {
    padding: 10px 12px;
  }
  .bookish-search-tags .form-item {
    margin-right: 10px;
  }
}
