body {
  --font-family: 'Source Sans Pro', sans-serif;
  --font-color: #1E1E1E;
  --font-color-light: #e3e3e3;
  --font-color-link: #1F7DB5;
  --font-color-link-hover: #175680;
  --font-color-link-light: #238CCA;
  --font-color-link-light-hover: #23a5e4;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 800;
  --accent-color-1: #E3919A;
  --accent-color-2: #AADFFF;
  --background-color: white;
  --background-color-dark: #1E1E1E;
  --border-color: #a1a1a1;
  --border-hover: #404040;
  --border-color-light: #a1a1a1;
  --border-color-dark: #404040;
  --spacer-1: 10px;
  --spacer-2: 25px;
  --spacer-3: 50px;
  --spacer-4: 75px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--font-color);
  margin-bottom: var(--spacer-3);
  background: var(--background-color);
}

a {
  color: var(--font-color-link);
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--font-color-link-hover);
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: var(--spacer-1);
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 100px;
}

.container > * {
    min-width: 0;
}

.container--margin {
  margin: var(--spacer-4) auto;
}

.container--no-grid {
  display: block;
}

.bk-text {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.4px;
}

.bk-text p:first-child {
  margin-top: 0;
}

.bk-text p:last-child {
  margin-bottom: 0;
}

.bk-text img {
  max-width: 100%;
  height: auto;

}
.bk-text img.align-left {
  margin-right: var(--spacer-1);
}

.bk-text img.align-right {
  margin-left: var(--spacer-1);
}

/* Match .hljs styles. */
.monospace {
  background: #fefefe;
  font-family: monospace;
}

#block-tabs ul,
.lunr-search-page-form,
.lunr-search-results,
div[data-drupal-messages] {
  max-width: 1280px;
  padding: 0 100px;
  margin: 0 auto;
}

#block-tabs {
  margin-bottom: 10px;
  text-align: right;
  border-bottom: 2px solid var(--border-color);
}

#block-tabs ul {
  list-style: none;
  display: flex;
}

#block-tabs a,
#block-tabs a:hover,
#block-tabs a:focus {
  display: block;
  color: var(--font-color);
  padding: 8px 10px;
  border-bottom: 2px solid var(--border-color);
  margin-bottom: -2px;
  transition: border-color .2s;
}

#block-tabs a:hover,
#block-tabs a:focus {
  text-decoration: none;
  border-color: var(--border-color-hover);
}

div[data-drupal-messages] {
  margin: var(--spacer-1) auto;
  padding: 20px 100px;
}

body.dark {
  --font-color: var(--font-color-light);
  --background-color: var(--background-color-dark);
  --accent-color-2: #527286;
  --font-color-link: var(--font-color-link-light);
  --font-color-link-hover: var(--font-color-link-light-hover);
  --border-color: var(--border-color-dark);
  --border-color-hover: var(--border-color-light);
}

body.dark .monospace {
  background: black;
}

@media (prefers-color-scheme: dark) {
  body {
    --font-color: var(--font-color-light);
    --background-color: var(--background-color-dark);
    --accent-color-2: #527286;
    --font-color-link: var(--font-color-link-light);
    --font-color-link-hover: var(--font-color-link-light-hover);
    --border-color: var(--border-color-dark);
    --border-color-hover: var(--border-color-light);
  }
  .monospace {
    background: black;
  }
}

@media screen and (max-width: 800px) {
  #block-tabs ul,
  .lunr-search-page-form,
  .lunr-search-results,
  div[data-drupal-messages],
  .container {
    padding: 0 25px;
  }
  .container--margin {
    margin: var(--spacer-3) auto;
  }
}
