@media (prefers-color-scheme: dark) {
  body:not(.light) {
    --font-color: var(--font-color-light);
    --background-color: var(--background-color-dark);
    --accent-color-1: #723434;
    --accent-color-2: #527286;
    --font-color-link: var(--font-color-link-light);
    --font-color-link-hover: var(--font-color-link-light-hover);
    --border-color: var(--border-color-dark);
    --border-color-hover: var(--border-color-light);
  }
}

body.dark {
  --font-color: var(--font-color-light);
  --background-color: var(--background-color-dark);
  --accent-color-1: #723434;
  --accent-color-2: #527286;
  --font-color-link: var(--font-color-link-light);
  --font-color-link-hover: var(--font-color-link-light-hover);
  --border-color: var(--border-color-dark);
  --border-color-hover: var(--border-color-light);
}

body {
  --font-family: Helvetica, sans-serif;
  --font-color: #1e1e1e;
  --font-color-light: #e3e3e3;
  --font-color-link: #1f7db5;
  --font-color-link-hover: #175680;
  --font-color-link-light: #23a5e4;
  --font-color-link-light-hover: #4ebff7;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-heavy: 800;
  --font-weight-black: 800;
  --accent-color-1: #ffaaaa;
  --accent-color-2: #aadfff;
  --background-color: white;
  --background-color-dark: #1e1e1e;
  --border-color: #e1e1e1;
  --border-color-light: #e1e1e1;
  --border-color-dark: #404040;
  --spacer-1: 10px;
  --spacer-2: 25px;
  --spacer-3: 50px;
  --spacer-4: 75px;
  --success-color: var(--accent-color-2);
  --error-color: #a72828;
  --warning-color: #937d1b;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--font-color);
  margin-bottom: var(--spacer-3);
  background: var(--background-color);
}

a {
  color: var(--font-color-link);
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--font-color-link-hover);
}

main {
  min-height: 800px;
  margin-top: var(--spacer-3);
}

table,
th,
td {
  border: 1px solid var(--border-color);
}

th,
td {
  padding: 5px 10px;
}

td {
  font-weight: normal;
}

hr {
  border: 1px solid var(--border-color);
}

blockquote {
  border-left: 5px solid var(--accent-color-2);
  padding: var(--spacer-1);
  margin-left: var(--spacer-1);
}

blockquote > * {
  margin-left: var(--spacer-1);
}

label,
.bookish-search-tags-label {
  display: block;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacer-1);
  flex-basis: 100%;
}

input[type="search"],
input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  max-width: 300px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border-color);
  background: transparent;
  transition: border-color .2s;
}

textarea {
  background: transparent;
  border-color: var(--border-color);
  transition: border-color .2s;
  max-width: 100%;
}

#coffee-q {
  max-width: none;
}

input[type="search"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: var(--font-color);
}

input[type="submit"] {
  min-width: 0;
  width: auto;
  color: var(--font-color);
  background: transparent;
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  transition: .2s;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
  border-color: var(--font-color);
}

.form-item {
  margin-bottom: var(--spacer-2);
}

.description {
  font-size: .8rem;
  line-height: .8rem;
  margin-top: var(--spacer-1);
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: var(--spacer-1);
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 100px;
}

.container > * {
  min-width: 0;
}

.container--margin {
  margin: var(--spacer-4) auto;
}

.container--no-grid {
  display: block;
}

.bk-text {
  font-size: 1.125rem;
  line-height: 1.6rem;
  letter-spacing: 0.4px;
}

.bk-text p:first-child {
  margin-top: 0;
}

.bk-text p:last-child {
  margin-bottom: 0;
}

.bk-text img {
  max-width: 100%;
  height: auto;
}

.bk-text img:not(.align-left):not(.align-right) {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.bk-text .align-left {
  margin-right: var(--spacer-1);
}

.bk-text .align-right {
  margin-left: var(--spacer-1);
}

.bk-text figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin: var(--spacer-2) 0;
}

.bk-text figcaption {
  padding: 10px;
  border: 1px solid var(--border-color);
  font-size: .8rem;
  border-top: 0;
  line-height: .8rem;
}

/* Match .hljs styles. */
.monospace {
  background: #fefefe;
  font-family: monospace;
}

.block-local-tasks-block {
  margin: var(--spacer-2) 0;
  text-align: right;
  border-bottom: 2px solid var(--border-color);
}

.block-local-tasks-block ul {
  list-style: none;
  display: flex;
}

.block-local-tasks-block a,
.block-local-tasks-block a:hover,
.block-local-tasks-block a:focus {
  display: block;
  color: var(--font-color);
  padding: 8px 15px;
  border-bottom: 2px solid var(--border-color);
  margin-bottom: -2px;
  transition: border-color .2s;
}

.block-local-tasks-block a:hover,
.block-local-tasks-block a:focus {
  text-decoration: none;
  border-color: var(--border-color-hover);
}

.region-before > * {
  grid-column: 1/11;
}

.block-system-menu-blockmain ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-top: var(--spacer-2);
}

.block-system-menu-blockmain li {
  margin-right: var(--spacer-2);
}

.block-system-menu-blockmain li:last-child {
  margin-right: 0;
}

.block-system-menu-blockmain a,
.block-system-menu-blockmain a:hover,
.block-system-menu-blockmain a:focus {
  color: var(--font-color);
  letter-spacing: 3px;
}

.block-system-menu-blockmain a:hover,
.block-system-menu-blockmain a:focus {
  text-decoration: underline;
}

[data-oembed-url] > div {
  position: relative;
  height: 0;
  padding-bottom: 56.2493%;
}

[data-oembed-url] iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bookish-heading-link-wrapper {
  position: relative;
  display: block;
  padding-left: 30px;
  margin-left: -30px;
}

.bookish-heading-link-wrapper:hover .bookish-heading-link::before,
.bookish-heading-link:hover .bookish-heading-link::before {
  content: "#";
}

.bookish-heading-link::before {
  font-size: 1rem;
  line-height: 1rem;
  position: absolute;
  left: 10px;
  top: calc(50% - 0.5rem);
}

.g-recaptcha {
  margin-bottom: var(--spacer-2);
}

#skip-link:focus {
  position: absolute !important;
  top: 0;
  left: 0;
}

.form-required:after {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
  content: "";
  vertical-align: super;
  background-image: url(../assets/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 25px;
  }
  .container--margin {
    margin: var(--spacer-3) auto;
  }
  .block-local-tasks-block a,
  .block-local-tasks-block a:hover,
  .block-local-tasks-block a:focus {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 400px) {
  .block-system-menu-blockmain li {
    margin-right: var(--spacer-1);
  }
  .block-system-menu-blockmain a {
    letter-spacing: 2px;
  }
}
