.bookish-image-reset {
  background-image: url(../assets/reset.svg);
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  border: none;
  background-size: contain;
  margin-left: 5px;
  vertical-align: top;
  border-radius: 9px;
  transition: background-color .2s;
}

.bookish-image-reset:hover {
  background-color: #f2f2f3;
}

.bookish-image-data-container {
  display: flex;
  flex-wrap: wrap;
}

.bookish-image-data-container > .form-item {
  flex-basis: 50%;
  margin: 0;
}

.bookish-image-data-container input[type="range"] {
  width: calc(100% - 50px);
}

.bookish-image-preview img {
  background: none !important;
}

.bookish-image-focal-point-container {
  position: relative;
  max-width: 150px;
}

.bookish-image-focal-point-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(0, 117, 255);
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -5px;
  margin-top: -5px;
}
