{% include 'sfc--bk-header.html.twig' %}
<div id="region-before" class="container region-before">
  {{ page.before }}
</div>
<main id="main-content" class="region-content">
  {{ page.content }}
</main>
{% include 'sfc--bk-footer.html.twig' %}
