{% include 'sfc--bk-header' %}
<div id="region-before" class="container">
  {{ page.before }}
</div>
<main id="region-content main-content">
  {{ page.content }}
</main>
{% include 'sfc--bk-footer' %}
